<p id="notice"><%= notice %></p>
<nav>
  <div class="insta_info">
    <img id="insta_logo" src="https://cdn3.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-512.png" alt="logo">
    <p> Instagrandma </p>
  </div>

  <button name="button"> Log Out</button>
</nav>

<section>
  <img id="profile_img" src=" <%= @grandma.profile_img %> " alt="profile_img">
  <div>
    <div class="grandma_username_and_follow_button">
      <%= @grandma.username %>
      <button name="button">Follow</button>
    </div>
    <%= @grandma.bio %>
  </div>
</section>

<p>
  <div class="insta_images">
    <% @grandma.images.each do |image|%>
      <img id="insta_img" src="<%= image.url %>">
    <% end %>
  </div>

</p>
